<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="dns-prefetch" href="//g.alicdn.com" />
    <link rel="dns-prefetch" href="//img.alicdn.com" />
    <link rel="dns-prefetch" href="//gm.mmstat.com" />
    <link rel="dns-prefetch" href="//log.mmstat.com" />
    <script>
      window.__INITIAL_STATE__ = {{ state | safe }};
    </script>
</head>
<body>

<div id="app">{{ renderString | safe }}</div>

<script src="/bundle.js"></script>
</body>
</html>
